NEXT_PUBLIC_APP_URL=http://localhost:3000

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_SUMMARY_MODEL=gpt-4o-mini

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

ADMIN_EMAILS=your@email.com,another@email.com
